

.login-form-container {
    display: flex;
    flex-direction: column;
    height: max-content
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 10vh; 
}

.login-form-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.login-form-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
    color: #333;
}

.login-form-container input[type="text"],
.login-form-container input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.login-form-container input[type="text"]:focus,
.login-form-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.login-form-container button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form-container p {
    margin-top: 1rem;
    color: #666;
}

.login-form-container p a {
    color: #007bff;
    text-decoration: none;
}

.login-form-container p a:hover {
    text-decoration: underline;
}
