.app_container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow: hidden;
}

.home-layout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc1919' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa1414' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6142f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b11829' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d80b4b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b21a42' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d31d6f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0957' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c30a8c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0a71' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa0caa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238b248b' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}